.main-section-banner {
  background-image: url("https://i.ibb.co/JnmTD12/banner.jpg");
  background-position: center;
  background-size: cover;
}
.main-product.mx-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
